<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <p><a href="/">Back to Landing Page</a></p>
        <p><a href="/register">Register</a></p>
    </body>
</html>